<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../images/favicon_logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="../components.css">
    <link rel="stylesheet" href="./image.css">
    <script src="https://kit.fontawesome.com/6b1debee41.js" crossorigin="anonymous"></script>
    <title>Turbo UI | Image</title>
</head>
<body>
    <main class="wrapper grid-layout">

        <nav class="nav">
            <div class="nav__left">
                <a href="../../index.html">
                    <img src="../../images/favicon_logo.svg" alt="turbo ui logo" class="nav__logo"> 
                    <span class="nav__logo-name">Turbo UI</span>
                </a>
            </div>

            <div class="nav__right">
                <ul>
                    <li class="nav__right-icons">
                        <a href="https://github.com/pavan6115" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>

                        <a href="https://twitter.com/_kpavan" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="sidebar">

            <div class="sidebar__heading">
                <h2 class="sidebar__heading-name">Components</h2>
            </div>

            <ul class="sidebar__links">
                <a href="../alert/alert.html">
                    <li class="sidebar__link-item">Alert</li>
                </a>
                <a href="../avatar/avatar.html">
                    <li class="sidebar__link-item">Avatar</li>
                </a>
                <a href="./badge.html">
                    <li class="sidebar__link-item">Badge</li>
                </a>
                <a href="../buttons/buttons.html">
                    <li class="sidebar__link-item">Buttons</li>
                </a>
                <a href="../card/card.html">
                    <li class="sidebar__link-item">Card</li>
                </a>
                <a href="./image.html">
                    <li class="sidebar__link-item">Image</li>
                </a>
                <a href="../inputs/inputs.html">
                    <li class="sidebar__link-item">Inputs</li>
                </a>
                <a href="../typography/typography.html">
                    <li class="sidebar__link-item">Typography</li>
                </a>
                <a href="../modal/modal.html">
                    <li class="sidebar__link-item">Modal</li>
                </a>
                <a href="../slider/slider.html">
                    <li class="sidebar__link-item">Slider</li>
                </a>
            </ul>
        </section>

        <section class="content">

           <div id="image">

                <div class="image__heading">
                    <div class="image__heading-title">
                        <h1>Image</h1>
                    </div>
                    <div class="image__heading-subtitle">
                        <p>Images are used to show the how the product looks. Images are responsive to their parent's widht and can be changed according to the needs</p>
                    </div>
                </div>

                <div class="image__examples">
                    <div class="image__examples-des">
                        <h2>Image can be of 2 different types - Rounded Image and Responsive Image</h2>
                        <p>
                            Round Image Example → class="rounded-img"
                            <br>
                            Responsive Image Example → class="resp-img"
                        </p>
                    </div>

                    
                    <div class="rounded-image">
                        <h2>Rounded Image</h2>
                        <p>Example → class="rounded-img"</p>

                        <div class="rounded-images__example">
                            <img src="../../images/image/image1.png" class="rounded-img img" alt="image1">

                            <img src="../../images/image/image3.jpg.webp" class="rounded-img img" alt="image3">

                            <img src="../../images/image/image4.jpg" class="rounded-img img" alt="image3">
                        </div>

                        <div class="rounded-image-iframe">
                            <iframe
                                src="https://carbon.now.sh/embed?bg=rgba%28241%2C245%2C249%2C1%29&t=one-dark&wt=none&l=css&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522..%252F..%252Fimages%252Fimage%252Fimage1.png%2522%2520class%253D%2522rounded-img%2520img%2522%2520alt%253D%2522image%2522%253E"
                                style="width: 813px; height: 207px; border:0; transform: scale(1); overflow:hidden;"
                                sandbox="allow-scripts allow-same-origin">
                            </iframe>
                        </div>
                    </div>

                    <div class="responsive-image">
                        <h2>Responsive Image</h2>
                        <p>Example → class="resp-img"</p>

                        <div class="responsive-images__example">
                            <img src="../../images/image/image2.png" class="resp-img" alt="image1">

                            <img src="../../images/image/image5.png" class="resp-img" alt="image5">
                        </div>

                        <div class="responsive-image-iframe">
                            <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28241%2C245%2C249%2C1%29&t=one-dark&wt=none&l=css&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522..%252F..%252Fimages%252Fimage%252Fimage1.png%2522%2520class%253D%2522resp-img%2522%2520alt%253D%2522image%2522%253E"
                            style="width: 753px; height: 207px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                          </iframe>
                        </div>
                    </div>
                </div>
           </div>

        </section>
    </main>
</body>
</html>