@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap');

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --primary-btn-color: #f28627;
    --secondary-btn-color: #f25c05;
    --success-btn-color: green;
    --warning-btn-color: orange;
    --error-btn-color: rgba(255, 0, 0, 0.884);
    --info-btn-color: rgba(49, 49, 235, 0.767);
    --dark-btn-color: black;
}

.content {
    grid-area: content;
    padding: 3rem 1.5rem;
}

.button__heading {
    padding : .5rem;
}

.button__heading-title {
    font-size: 2.2rem;
}

.button__heading-subtitle{
    font-size: 1.2rem;
    font-weight: 300;
}

.button__examples {
    margin-top: 2rem;
    padding : .5rem;
}

.button__examples h2{
    font-weight: 400;
}

p {
    font-size: 1.1rem;
    padding-top: .8rem;
    font-weight: 300;
}

.button__standard {
    margin: 3.5rem 0rem;
}

.button__standard-examples {
    margin-top: 2.5rem;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0rem;
    box-shadow: 0px 0px 12px -7.5px #5b5b5b;
}

.btn {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-std-primary {
    background-color: var(--primary-btn-color);
    color: white;
}

.btn-std-secondary {
    background-color: var(--secondary-btn-color);
    color: white;
}

.btn-std-success {
    background-color: var(--success-btn-color);
    color: white;
}

.btn-std-warning {
    background-color: var(--warning-btn-color);
    color: white;
}

.btn-std-error {
    background-color: var(--error-btn-color);
    color: white;
}

.btn-std-info {
    background-color: var(--info-btn-color);
    color: white;
}

.btn-std-dark {
    background-color: var(--dark-btn-color);
    color: white;
}

.button__standard-iframe {
    text-align: center;
}

.button__outline {
    margin: 3.5rem 0rem;
}

.button__outline-examples {
    margin-top: 2.5rem;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0rem;
    box-shadow: 0px 0px 12px -7.5px #5b5b5b;
}

.btn-outl-primary {
    border: 2px solid var(--primary-btn-color);
    color: var(--primary-btn-color);
    /* for safari */
    background-color: var(--background-color);
}

.btn-outl-secondary {
    border: 2px solid var(--secondary-btn-color);
    color: var(--secondary-btn-color);
    /* for safari */
    background-color: var(--background-color);
}

.btn-outl-success {
    border: 2px solid var(--success-btn-color);
    color: var(--success-btn-color);
    /* for safari */
    background-color: var(--background-color);
}

.btn-outl-warning {
    border: 2px solid var(--warning-btn-color);
    color: var(--warning-btn-color);
    /* for safari */
    background-color: var(--background-color);
}

.btn-outl-error {
    border: 2px solid var(--error-btn-color);
    color: var(--error-btn-color);
    /* for safari */
    background-color: var(--background-color);
}

.btn-outl-info {
    border: 2px solid var(--info-btn-color);
    color: var(--info-btn-color);
    /* for safari */
    background-color: var(--background-color);
}

.btn-outl-dark {
    border: 2px solid var(--dark-btn-color);
    color: var(--dark-btn-color);
    /* for safari */
    background-color: var(--background-color);
}

.button__outline-iframe {
    text-align: center;
}

.button__link {
    margin: 3.5rem 0rem;
}

.button__link-examples {
    margin-top: 2.5rem;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0rem;
    box-shadow: 0px 0px 12px -7.5px #5b5b5b;
}

i {
    padding-right: 5px;
}

.btn-icon-home {
    border: 2px solid var(--primary-btn-color);
    color: var(--primary-btn-color);
    /* for safari */
    background-color: var(--background-color);
}

.btn-icon-home:hover {
    background-color: var(--primary-btn-color);
    color:white
}

.btn-icon-menu {
    border: 2px solid var(--secondary-btn-color);
    color: var(--secondary-btn-color);
    /* for safari */
    background-color: var(--background-color);
}

.btn-icon-menu:hover {
    background-color: var(--secondary-btn-color);
    color:white
}

.btn-icon-warning {
    background-color: var(--warning-btn-color);
}

.btn-icon-danger {
    background-color: var(--error-btn-color);
}

.btn-icon-error, .btn-icon-chats {
    font-size: 2rem;
    /* for safari */
    background-color: var(--background-color);
}

.btn-icon-chats:hover {
    color: var(--info-btn-color);
}

.button__icon-iframe {
    text-align: center;
}

.btn-link {
    color:var(--info-btn-color);
}

.button__link-iframe {
    text-align: center;
}

.button__floating {
    margin: 3.5rem 0rem;
}

.button__floating-examples {
    margin-top: 2.5rem;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0rem;
    box-shadow: 0px 0px 12px -7.5px #5b5b5b;
}

.btn-float {
    font-size: 1.3rem;
    background-color: #f28627;
    height: 3.1rem;
    width: 2rem;
    border-radius: 50%;
}

.btn-float i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__floating-iframe {
    text-align: center;
}
