<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../images/favicon_logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="../components.css">
    <link rel="stylesheet" href="./grids.css">
    <script src="https://kit.fontawesome.com/6b1debee41.js" crossorigin="anonymous"></script>
    <title>Turbo UI | Grids</title>
</head>
<body>
    
    <main class="wrapper grid-layout">

        <nav class="nav">
            <div class="nav__left">
                <a href="../../index.html">
                    <img src="../../images/favicon_logo.svg" alt="turbo ui logo" class="nav__logo"> 
                    <span class="nav__logo-name">Turbo UI</span>
                </a>
            </div>

            <div class="nav__right">
                <ul>
                    <li class="nav__right-icons">
                        <a href="https://github.com/pavan6115" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>

                        <a href="https://twitter.com/_kpavan" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="sidebar">

            <div class="sidebar__heading">
                <h2 class="sidebar__heading-name">Components</h2>
            </div>

            <ul class="sidebar__links">
                <a href="../alert/alert.html">
                    <li class="sidebar__link-item">Alert</li>
                </a>
                <a href="../avatar/avatar.html">
                    <li class="sidebar__link-item">Avatar</li>
                </a>
                <a href="./badge.html">
                    <li class="sidebar__link-item">Badge</li>
                </a>
                <a href="../buttons/buttons.html">
                    <li class="sidebar__link-item">Buttons</li>
                </a>
                <a href="../card/card.html">
                    <li class="sidebar__link-item">Card</li>
                </a>
                <a href="../image/image.html">
                    <li class="sidebar__link-item">Image</li>
                </a>
                <a href="../inputs/inputs.html">
                    <li class="sidebar__link-item">Inputs</li>
                </a>
                <a href="../text-utils/text-utils.html">
                    <li class="sidebar__link-item">Typography</li>
                </a>
                <a href="../lists/lists.html">
                    <li class="sidebar__link-item">Lists</li>
                </a>
                <a href="../slider/slider.html">
                    <li class="sidebar__link-item">Slider</li>
                </a>
                <a href="../grids/grids.html">
                    <li class="sidebar__link-item">Grids</li>
                </a>
                <a href="../rating/rating.html">
                    <li class="sidebar__link-item">Rating</li>
                </a>
                <a href="../navigation/navigation.html">
                    <li class="sidebar__link-item">Navigation</li>
                </a>
                <a href="../modal/modal.html">
                    <li class="sidebar__link-item">Modal</li>
                </a>
                
            </ul>
        </section>

        <section class="content">

            <div id="grids">
                <div class="grid__heading">
                    <div class="grid__heading-title">
                        <h1>Grids</h1>
                    </div>
                    <div class="grid__heading-subtitle">
                        <p>
                            Grids provide the a way in which you can structure the content into rows and columns. They make your site look good and responsive as well.
                        </p>
                    </div>
                </div>

                <div class="grids__examples">
                    <div class="grids__examples-des">
                        <h2>
                            Grids can be of different types based on requirement. Here there are 2 types - 2 Grid layout and 3 Grid layout
                        </h2>
                        <p>
                            Below examples illustrate the 2 different types of grids. To use any of these grids, simply add class <strong>grid__container</strong> followed by its type.
                        </p>
                    </div>

                    <div class="grid2__layout">
                        <h2>Grid layout - 2 Items</h2>
                        <p>
                            Example → class="grid__container grid-2"
                        </p>
                        <div class="grid2__layout-examples">
                            <div class="grid__border">
                                <div class="grid__container grid-2">
                                    <div class="grid-items">Item 1</div>
                                    <div class="grid-items">Item 2</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid-iframe">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28241%2C245%2C249%2C1%29&t=one-dark&wt=none&l=css&width=453&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid__container%2520grid-2%2522%253E%250A%2520%2520%2520%253Cdiv%2520class%253D%2522grid-items%2522%253EItem%25201%253C%252Fdiv%253E%250A%2520%2520%2520%253Cdiv%2520class%253D%2522grid-items%2522%253EItem%25202%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                            style="width: 525px; height: 335px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>

                    
                    <div class="grid3__layout">
                        <h2>Grid layout - 3 Items</h2>
                        <p>
                            Example → class="grid__container grid-3"
                        </p>
                        <div class="grid3__layout-examples">
                            <div class="grid__border">
                                <div class="grid__container grid-3">
                                    <div class="grid-items">Item 1</div>
                                    <div class="grid-items">Item 2</div>
                                    <div class="grid-items">Item 3</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid-iframe">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28241%2C245%2C249%2C1%29&t=one-dark&wt=none&l=css&width=525&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid__container%2520grid-3%2522%253E%250A%2520%2520%2520%253Cdiv%2520class%253D%2522grid-items%2522%253EItem%25201%253C%252Fdiv%253E%250A%2520%2520%2520%253Cdiv%2520class%253D%2522grid-items%2522%253EItem%25202%253C%252Fdiv%253E%250A%2520%2520%2520%253Cdiv%2520class%253D%2522grid-items%2522%253EItem%25203%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                            style="width: 525px; height: 292px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>

                </div>

        </section>
    </main>

</body>
</html>