<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../images/favicon_logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="../components.css">
    <link rel="stylesheet" href="./text-utils.css">
    <script src="https://kit.fontawesome.com/6b1debee41.js" crossorigin="anonymous"></script>
    <title>Turbo UI | Text Utils</title>
</head>
<body>
    <main class="wrapper grid-layout">

        <nav class="nav">
            <div class="nav__left">
                <a href="../../index.html">
                    <img src="../../images/favicon_logo.svg" alt="turbo ui logo" class="nav__logo"> 
                    <span class="nav__logo-name">Turbo UI</span>
                </a>
            </div>

            <div class="nav__right">
                <ul>
                    <li class="nav__right-icons">
                        <a href="https://github.com/pavan6115" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>

                        <a href="https://twitter.com/_kpavan" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="sidebar">

            <div class="sidebar__heading">
                <h2 class="sidebar__heading-name">Components</h2>
            </div>

            <ul class="sidebar__links">
                <a href="./alert.html">
                    <li class="sidebar__link-item">Alert</li>
                </a>
                <a href="../avatar/avatar.html">
                    <li class="sidebar__link-item">Avatar</li>
                </a>
                <a href="../badge/badge.html">
                    <li class="sidebar__link-item">Badge</li>
                </a>
                <a href="../buttons/buttons.html">
                    <li class="sidebar__link-item">Buttons</li>
                </a>
                <a href="../card/card.html">
                    <li class="sidebar__link-item">Card</li>
                </a>
                <a href="../image/image.html">
                    <li class="sidebar__link-item">Image</li>
                </a>
                <a href="../inputs/inputs.html">
                    <li class="sidebar__link-item">Inputs</li>
                </a>
                <a href="./text-utils.html">
                    <li class="sidebar__link-item">Typography</li>
                </a>
                <a href="../lists/lists.html">
                    <li class="sidebar__link-item">Lists</li>
                </a>
                <a href="../slider/slider.html">
                    <li class="sidebar__link-item">Slider</li>
                </a>
                <a href="../grids/grids.html">
                    <li class="sidebar__link-item">Grids</li>
                </a>
                <a href="../rating/rating.html">
                    <li class="sidebar__link-item">Rating</li>
                </a>
            </ul>
        </section>


        <section class="content">

           <div id="typography">

            <div class="typography__heading">
                <div class="typography__heading-title">
                    <h1>Typography</h1>
                </div>
                <div class="typography__heading-subtitle">
                    <p>
                        Typography means that you can alter the size and alignment of the fonts on your websites.
                    </p>
                </div>
            </div>

            <div class="typography__examples">

                <div class="typography__examples-des">
                    <h2>In typography there are different types like Headings, Small Texts, Alignment Text</h2>
                    <p>
                        The below examples illustrate the different types of typography. To add any one of these, simply add the class names. 
                    </p>
                </div>

                <!-- Headings -->
                <div class="typo__heading">
                    <h2>Headings</h2>
                    <p>We can use the inbuilt html heading tag for headings. You can also add class to div to make it look like heading. Example → class="h3"</p>
                </div>
                <div class="typo__heading-examples-box">
                    <div class="headings">
                        <h1>Heading - 1</h1>
                        <h2>Heading - 2</h2>
                        <h3>Heading - 3</h3>
                        <h4>Heading - 4</h4>
                        <h5>Heading - 5</h5>
                        <h6>Heading - 6</h6>
                    </div>
                </div>

                <div class="typo__heading-iframe">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28241%2C245%2C249%2C1%29&t=one-dark&wt=none&l=css&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Ch1%253EHeading%2520-%25201%253C%252Fh1%253E%250A%250A%253Ch2%253EHeading%2520-%25202%253C%252Fh2%253E%250A%250A%253Ch3%253EHeading%2520-%25203%253C%252Fh3%253E%250A%250A%253Ch4%253EHeading%2520-%25204%253C%252Fh4%253E%250A%250A%253Ch5%253EHeading%2520-%25205%253C%252Fh5%253E%250A%250A%253Ch6%253EHeading%2520-%25206%253C%252Fh6%253E"
                        style="width: 323px; height: 420px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>


                <!-- Paragraphy - Small Text -->
                <div class="typo__para">
                    <h2>Paragraphs</h2>
                    <p>Paragraph is used to tell a short description about something. Use paragraph tag with p tag enclosed in angular brackets.
                    Example → class="p-md"
                    </p>
                </div>

                <div class="typo__para-examples-box">
                    <div class="paras">
                        <p class="p-lg">Paragraph with large size</p>
                        <p class="p-md">Paragraph with medium size</p>
                        <p class="p-sm">Paragraph with small size</p>
                    </div>
                </div>

                <div class="typo__para-iframe">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28241%2C245%2C249%2C1%29&t=one-dark&wt=none&l=css&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522p-lg%2522%253EParagraph%2520with%2520large%2520size%253C%252Fp%253E%250A%250A%253Cp%2520class%253D%2522p-md%2522%253EParagraph%2520with%2520medium%2520size%253C%252Fp%253E%250A%250A%253Cp%2520class%253D%2522p-sm%2522%253EParagraph%2520with%2520small%2520size%253C%252Fp%253E"
                        style="width: 547px; height: 292px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <!-- Alignment -->
                <div class="typo__alignment">
                    <h2>Alignment</h2>
                    <p>Alignment is used to align the text inside of the container. Example → class="align-center"</p>
                </div>

                <div class="typo__alignment-examples-box">
                    <div class="alignment">
                        <p class="align-left">Text with Left Align</p>
                        <p class="align-center">Text with Center Align</p>
                        <p class="align-right">Text with Right Align</p>
                    </div>
                </div>

                <div class="typo__alignment-iframe">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28241%2C245%2C249%2C1%29&t=one-dark&wt=none&l=css&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522align-left%2522%253EText%2520with%2520Left%2520Align%253C%252Fp%253E%250A%250A%253Cp%2520class%253D%2522align-center%2522%253EText%2520with%2520Center%2520Align%253C%252Fp%253E%250A%250A%253Cp%2520class%253D%2522align-right%2522%253EText%2520with%2520Right%2520Align%253C%252Fp%253E%250A"
                        style="width: 581px; height: 314px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

            </div>

        </section>

    </main>
</body>
</html>