@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap');

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    /* font-family: 'Nunito', sans-serif; */
}

:root {
    --primary-color : #F28627;
    --secondary-color : #F25C05;
    --border-color : #8C1C03;
    --background-color : #f1f5f9;
    --btn-hover-color : rgba(242, 134, 39, .9);
}

body {
    background-color: var(--background-color);
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    'header header header header header'
    'sidebar content content content content'
    'sidebar content content content content'
    'sidebar content content content content';
}

/* Navbar */
.nav {
    grid-area: header;
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 12px -7.5px #5b5b5b;
}

.nav__left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo {
    position: relative;
    top : .5rem;
    height: 3rem;
}

.nav__logo-name {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3rem;
    color: var(--primary-color);
    padding-left: .8rem;
    font-weight: 600;
}

.nav__right {
    display: flex;
    font-size: 1.8rem;
    margin-left: auto;
}

.nav__right-icons a{
    color: #5b5b5b;
    padding: 0rem 1rem;
    
}

.nav__right-icons a:hover {
    color: var(--secondary-color);
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    height: 155vh;
    text-align: center;
    box-shadow: 0px 0px 12px -7.5px #5b5b5b;
    align-items: center;
}

.sidebar__heading {
    /* border: 2px solid red; */
    padding : 3rem;
    font-size: 1.2rem;
}

.sidebar__heading-name {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

.sidebar__links a {
    color : black;
}

.sidebar__links li:hover {
    background-color: #f2862736;
    border-radius: 10px;
}

.sidebar__links {
    font-size: 1.5rem;
}

.sidebar__link-item {
    font-family: 'Nunito Sans', sans-serif;
    padding: 1rem 0rem;
}





/* utils */
a {
    text-decoration: none;
    color: none;
}

ul {
    list-style: none;
    color : none;
    text-decoration: none;
}